/* Seperators */
#component-wrapper {
  --panel-1: 27%;
  --panel-2: 83%;
  
  @media only screen and (max-width: 960px) {
    --panel-1: 100%;
    --panel-2: 100%;
    flex-direction: column;
  }
}

#component-item {
  &:first-child {
    width: var(--panel-1);
  
    > #component-item_seperator {
      box-shadow: 0 0 12px rgba(#000, 15%);
    }

    > #component-item_seperator.component-sticky {
      position: sticky;
      top: 1.25rem;
    }
  }
  &:nth-child(2) {
    width: var(--panel-2);
    
    > #component-item_seperator {border: none !important;}
  }

  &_seperator {
    &:nth-child(1) {
      padding: 1.65ex;
      margin: 0.75ex;
      border-radius: 4px;
      // border-right: 2px dashed rgba(#000, 35%);
      // border-bottom: 2px dashed rgba(#000, 35%);
      
      // @media only screen and (max-width: 960px) {
      //   border-right: none;
      // }
    }
  }
}

/* Pie img layout */
  #donut-visualize-wrapper {
    margin: 0 auto;
    position: relative;
    margin-bottom: 0.35rem;
    @extend .flex;
    @extend .justify-center;
  
    > img {
      width: 63%;
      transition: width 550ms cubic-bezier(.17,.82,0,.99);
      border-radius: 50%;
  
      @media only screen and (min-width: 1400px) {
        width: 70%;
      }
    }
  }
  
  #donut {
    @media only screen and (min-width: 1400px) {
      --pds-donut-pos: 14%;
      --pds-donut-thiccness: 72%;
    }
  
    --pds-donut-thiccness: 64%;
    --pds-donut-pos: 18%;
    --pds-donut-color-fill: rgb(152, 226, 55);
    --pds-donut-color-track: rgb(70, 114, 12);
    --pds-donut-border-width: 6px;
    position: absolute;
    top: -1px;
    width: var(--pds-donut-thiccness);
    height: 100%;
    left: var(--pds-donut-pos);
    border-radius: 50%;
    transform: scale(1.055);
    background: radial-gradient(farthest-side, #0000 calc(99% - var(--pds-donut-border-width)), var(--pds-donut-color-track) calc(100% - var(--pds-donut-border-width)));
  
    &::before {
      content: "";
      position: absolute;
      border-radius: 50%;
      inset: 0;
      background: conic-gradient(var(--pds-donut-color-fill) calc(var(--pds-val, 50)*1%),#0000 0);
      -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--pds-donut-border-width)),#000 calc(100% - var(--pds-donut-border-width)));
              mask:radial-gradient(farthest-side,#0000 calc(99% - var(--pds-donut-border-width)),#000 calc(100% - var(--pds-donut-border-width)));
    }
  }

/* DT */
#pds-donut-mediums {
  #donut-visualize-wrapper {
      height: 135px;
    @media only screen and (min-width: 1400px) {
      height: 150px;
    }
  }
  
  #donut {
    --pds-donut-color-fill: var(--pds-bar-traditional);
    --pds-donut-color-track: var(--pds-bar-digital);
    
    &::before {
      content: "";
      -webkit-mask:radial-gradient(farthest-side,#fff calc(99% - var(--pds-donut-border-width)),#000 calc(100% - var(--pds-donut-border-width)));
      mask:radial-gradient(farthest-side,#fff calc(99% - var(--pds-donut-border-width)),#000 calc(100% - var(--pds-donut-border-width)));
      background: conic-gradient(var(--pds-donut-color-fill) calc(var(--pds-val, 50)*1%),var(--pds-bar-digital) 0);
    } 
  }

  ul {
    column-gap: 0.55rem;
  }
}


#caption_percentage {
  font-size: 90%;
  opacity: .5;
}

/* Flexbox related classes */
.flex {
  display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* Gridbox */
.grid {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
}

/* Misc */
.no-bullet {
  list-style: none !important;
}