@mixin flex_params($hcent: center, $vcent: center, $dir: row) {
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}

@mixin line_spacing($val: 15px) {
  li {
    margin-left: $val;
    
    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin pos_absolute($top: 0, $bottom: unset, $left: 0, $right: 0) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin prop_transition($property: all, $time: 300ms) {
  -webkit-transition: $property $time ease;
          transition: $property $time ease;
}