%radius_small {border-radius: 6px;}
%radius_circle {border-radius: 50%;}

$main-b-green: #006b3c;

$b-green: #006442;

// light variants
$b-green-w1: #3b7d5e;
$b-green-w2: #63967c;
$b-green-w3: #89b09b;
$b-green-w4: #b0cabc;
$b-green-w5: #d7e4dd;

// dark variants
$b-green-b1: #0a5338;
$b-green-b2: #0f432d;
$b-green-b3: #103324;
$b-green-b4: #0f241a;
$b-green-b5: #0a1610;