@import 'mixins';
@import 'palette';

*,*::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before, *::after {
  content: '';
  display: block;
}
body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}