@mixin flexParams($hcent: center, $vcent: center, $dir: row) {
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}

@mixin liMenuSpacing($val: 15px) {
  li {
    margin-left: $val;
    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin posAbsolute($top: 0, $bottom: unset, $left: 0, $right: 0) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin transition($property: all, $time: 300ms, $type: ease) {
  -webkit-transition: $property $time $type;
          transition: $property $time $type;
}

@mixin noPseudoElement() {
  *::before, *::after {
    display: none !important;
  }
}