###
18A\ -\ webcomponents/
18B\ -\ vertical\ navbar/
18C\ -\ scss\ header\ lol/ 
dist/*

# Hide node stuff
node_modules
node_modules/.bin/sass

# Ignore any css files to refactor them to SCSS
*.css
