.DS_Store
node_modules
/dist

src/assets/img/header-assets/placeholder.png
src/assets/img/header-assets/placeholder2.png
src/assets/img/header-assets/placeholder3.jpg
src/assets/img/header-assets/placeholder5.png
src/assets/img/header-assets/placeholder6.png

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
