body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  transition: all 150ms ease;
  cursor: default;
  font-family: 'Lato', san-serif;
}
.artwork-stats_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
#hl-fill {
  display: block;
  height: 4px;
  width: 60px;
  margin-block: 6px;
  background: #284b3a;
}
.td-progress {
  border-radius: 6px;
  overflow-x: hidden;
  height: 12px;
  width: 240px;
  border: 1px solid #aaa;
  margin-block: 8px;
  background: red;
}
.td-progress-fill {
  background: green;
  display: block;
  height: 12px;
}
.td-legend_wrapper {
  position: relative;
  font-size: 80%;
}
.td-legend {
  display: flex;
  margin-right: 10px;
}
.td-legend::before {
  position: relative;
  top: 2px;
  left: 0;
  margin-right: 6px;
  content: '';
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.traditional::before {
  background: red;
}
.digital::before {
  background: blue;
}
.aw-year-grid {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(6, auto);
  gap: 2px;
}
.aw-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  /* height: 27px; */
  font-size: .7rem;
  font-weight: bold;
}
aw-tooltip {
  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;
}
.aw-box:hover aw-tooltip {
  opacity: 1;
}
.aw-box {
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  border-radius: 4px;
  font-size: 75%;
  filter: brightness(100%);
  transition: filter 200ms ease;
}
.aw-box:hover {
  filter: brightness(150%);
}
