@mixin posAbsolute {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flexCenter($hCenter: center, $vCenter: center) {
  display: flex;
  justify-content: $hCenter;
  align-items: $vCenter;
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
}