@mixin posAbsolute() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin flexOrientation($hCenter: center, $vCenter: center) {
  display: flex;
  justify-content: $hCenter;
  align-items: $vCenter;
}

@mixin flexDirection($flexDir: column) {
  display: flex;
  flex-direction: $flexDir;
}