.sticky-header {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgb(209, 209, 209);
  z-index: 69;
}

.desktop-navbar-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 12px;
}