@mixin flex-vendor-prefix {
  @each $vendor in ('-moz-', '-webkit-') {
    display: #{$vendor}-box;
  }
  @each $vendor in ('-webkit-', '') {
    display: #{$vendor}-flex;
  }
  display: ms-flexbox;
}

@mixin p-flexy($hcent: center, $vcent: center, $dir: row) {
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}

@mixin pos-a($top: 0, $bottom: unset, $left: 0, $right: 0) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin prop-transition($property: all, $time: 300ms) {
  transition: $property $time ease;
}

@mixin dropdown-element($hoverpos) {

  @include prop-transition(transform);
  transform: translateY(0px);

  &:hover {
    transform: translateY($hoverpos);
  }
}

@mixin soft-corners {
  border-radius: 6px;
}

@mixin disable-drag {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  pointer-events: none;
}

@mixin flex-list {
  display: flex;
  list-style: none;
}