:root {
  /* Overall site design */
  --bamboo-default: ;
  --bamboo-dark: ;

  /* Species colors */
  --s-fox: ;
  --s-raccoon: ;
  --s-pup: ;
  --s-pup: ;
  --s-husky: ;
  --s-wolf: ;
  --s-birb: ;
  --s-panda: ;
  --s-bear: ;

  /* Hybrid colors */
  --s-folf: ;
  --s-fusky: ;
  --s-wusky: ;
}