:root {
  /* Overall site design */
  --bamboo-default: ;
  --bamboo-dark: ;

  /* Species colors */
  --s-fox: orange;
  --s-raccoon: ;
  --s-pup: ;
  --s-husky: ;
  --s-wolf: gray;
  --s-birb: ;
  --s-panda: ;
  --s-bear: #5e2604;

  /* Hybrid colors */
  --s-folf: ;
  --s-fusky: ;
  --s-wusky: ;
}