@import 'https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Noto+Sans+KR:wght@100;300;500;700&family=Poppins:ital,wght@0,500;0,700;1,500;1,700&display=swap';

// Palettes
$bamboo-main: hsl(154, 100%, 21%);

// light variants
$bamboo-light-100: hsl(152, 36%, 36%);
$bamboo-light-200: hsl(149, 20%, 49%);
$bamboo-light-300: hsl(148, 20%, 61%);
$bamboo-light-400: hsl(148, 20%, 74%);
$bamboo-light-500: hsl(148, 19%, 87%);

// dark variants
$bamboo-dark-100: hsl(158, 78%, 18%);
$bamboo-dark-200: hsl(155, 63%, 16%);
$bamboo-dark-300: hsl(154, 52%, 13%);
$bamboo-dark-400: hsl(151, 41%, 10%);
$bamboo-dark-500: hsl(150, 38%, 6%);

// Mixins
@mixin flex_params($hcent: center, $vcent: center, $dir: row) {
  display: flex;
  justify-content: $hcent;
  align-items: $vcent;
  flex-direction: $dir;
}

@mixin pos_absolute($top: 0, $bottom: unset, $left: 0, $right: 0) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin prop_transition($property: all, $time: 300ms) {
  -webkit-transition: $property $time ease;
          transition: $property $time ease;
}

@mixin dd_hover($hoverpos) {
	transform: translateY(0px);
	@include prop_transition();

	&:hover {
		transform: translateY($hoverpos);
	}
}

// Extends
%radius_small {
  border-radius: 6px;
}

%flex_list {
  display: flex;
  list-style: none;
}

%disable_drag {
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -moz-user-drag: none; 
  -o-user-drag: none; 
  pointer-events: none;
}

// global content
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}