@use 'mixins';

.sect-wrapper {
  @include mixins.fontLato;

  h2 {
    font-weight: bold;
    margin-bottom: 10px;
  }
}

$buttonHover: 150ms;

.chrono-btn {
	@include mixins.fontLato;
  font-weight: bold;
	font-size: 22px;
	padding: 6px 12px;
	background: rgba(white, .90);
	border-radius: 3px;
	transform: scale(1) translateY(0);
	box-shadow: 0 0 5px rgba(black, .25);
  color: black;
  text-align: center;
  transition: background $buttonHover ease, transform $buttonHover ease, color $buttonHover ease, box-shadow $buttonHover ease;

  &:hover {
    background: #007d53; // Replace this with a variable
    box-shadow: 0 0 12px rgba(black, .45);
    transform: scale(1.02) translateY(-2px);
    color: white;
  }
}

.artwork-showcase {
  height: 235px;
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 6px;
  overflow: hidden;
  position: relative;

  &_footer {
    position: absolute;
    bottom: 7px;
    padding: 0 12px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;

    &::before {
      @include mixins.zeroMarginPadding;
      content: '';
      display: block;
      width: 100%;
      height: 1px;
      background: #aaa;
    }

    > {
      * {
        margin-left: 3px;
      }
    }
  }
}

// ! HERE DUMBASS

//body {
//  @include mixins.flexCenter;
//  @include mixins.fontLato;
//  width: 100%;
//  height: auto;
//  transition: all 150ms ease;
//  cursor: default;
//}

.artwork-stats_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

// Legend
.aw-1 {background:hsl(150, 66%, 15%);}
.aw-2 {background:hsl(150, 66%, 20%);}
.aw-3 {background:hsl(150, 66%, 25%);}
.aw-4 {background:hsl(150, 66%, 30%);}

#hl-fill {
  display: block;
  height: 4px;
  width: 60px;
  margin-block: 6px;
  background: #284b3a;
}

.td-progress {
  border-radius: 6px;
  overflow-x: hidden;
  height: 12px;
  width: 240px;
  border: 1px solid #aaa;
  margin-block: 8px;
  background: red;

  &-fill {
    background: green;
    display: block;
    height: 12px;
  }
}

.td-legend {
  display: flex;
  margin-right: 10px;

  &_wrapper {
    position: relative;
    font-size: 80%;
  }

  &::before {
    position: relative;
    top: 2px;
    left: 0;
    margin-right: 6px;
    content: '';
    display: block;
    height: 12px;
    width: 12px;
    border-radius: 50%;
  }
}

.aw-year-grid {
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-template-rows: repeat(6, auto);
  gap: 2px;
}
.aw-label {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: .7rem;
  font-weight: bold;
}
.aw-box {
  display: block;
  width: 25px;
  height: 25px;
  margin: auto;
  border-radius: 4px;
  font-size: 75%;
  filter: brightness(100%);
  transition: filter 200ms ease;

  &_legend {
    display: block;
    border-radius: 4px;
    width: 17px;
    height: 17px;
    margin-left: 3px;
  }
  &:hover {
    filter: brightness(150%);

    aw-tooltip {
      opacity: 1;
    }
  }
}
aw-tooltip {
  opacity: 0;
  transition: opacity 300ms ease;
  pointer-events: none;
}
.aw-ft-text {
  font-size: 90%;
  opacity: 65%;
}

